{
  "swagger": "2.0",
  "info": {
    "title": "Report Renderer",
    "description": "",
    "version": "1.0"
  },
  "host": "organization.crm.dynamics.com",
  "basePath": "/api/data/v9.0",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/reports": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-summary": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.etag": {
                        "type": "string",
                        "description": "@odata.etag",
                        "x-ms-summary": "ETag"
                      },
                      "reportid": {
                        "type": "string",
                        "description": "Report ID",
                        "x-ms-summary": "Report ID",
                        "title": "ID",
                        "x-ms-visibility": ""
                      },
                      "name": {
                        "type": "string",
                        "description": "Report Name",
                        "x-ms-summary": "name",
                        "title": "Name",
                        "x-ms-visibility": ""
                      }
                    }
                  },
                  "description": "value",
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "summary": "Get Reports",
        "description": "Gets all reports from Dynamics 365",
        "operationId": "/GET/Reports",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "reportid,name"
          }
        ]
      }
    },
    "/reports({reportId})/Microsoft.Dynamics.CRM.bg_Render": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-summary": "Context"
                },
                "Output": {
                  "type": "string",
                  "description": "Output",
                  "x-ms-summary": "Output",
                  "title": "Output",
                  "format": "",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report",
            "x-ms-dynamic-values": {
              "operationId": "/GET/Reports",
              "value-path": "reportid",
              "value-collection": "value",
              "value-title": "name",
              "parameters": {
                "$select": "reportid,name"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Format": {
                  "type": "string",
                  "description": "Format",
                  "x-ms-summary": "Format",
                  "title": "Format",
                  "x-ms-visibility": "",
                  "enum": [
                    "PDF",
                    "CSV",
                    "XML",
                    "Word",
                    "Excel",
                    "HTML5"
                  ]
                },
                "Parameters": {
                  "type": "string",
                  "description": "Parameters",
                  "x-ms-summary": "Parameters",
                  "title": "Parameters",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "Format"
              ]
            }
          }
        ],
        "summary": "Render Report",
        "description": "Renders a report from Dynamics 365",
        "operationId": "/POST/RenderReport"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}